.video-wrapper {
    height: 718px;

    .overlay {
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .content-wrapper {
        z-index: 2;
    }

    .video-background {
        z-index: 0;
    }
}